---
import Layout from '../../layouts/Layout.astro';

const title = 'Blobity'
---

<Layout title={title}>
	<main>
    bobity test da finire
  </main>
</Layout>

<script is:inline src='https://cdn.blobity.dev/by.js'></script>
<script>
	const options = { color: 'rgb(20, 180, 160)' };
	new Blobity(options);
	console.clear();
</script>
