---
import Layout from '../../layouts/Layout.astro';
const title = 'full Title';
---

<Layout title={title}>
	<main class='pt-4 px-4'>
		try to resize the window
		<div class='mx-auto space-y-4'>
			<svg
				viewBox='0 0 1363 193'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
				class='w-full block'
			>
				<path
					d='M46.624 82.784H120.096V120.416H46.624V188H0.544001V4.95999H136.736V42.592H46.624V82.784ZM154.544 188V4.95999H240.816C281.52 4.95999 306.096 23.648 306.096 58.208C306.096 82.528 291.76 97.888 268.976 103.008V103.52C314.8 111.456 298.16 182.368 308.656 185.44V188H260.784C251.824 180.32 268.464 124.256 229.296 124.256H200.624V188H154.544ZM200.624 42.592V86.624H231.856C250.288 86.624 260.016 79.968 260.016 64.608C260.016 49.248 250.288 42.592 231.856 42.592H200.624ZM409.494 192.096C351.382 192.096 318.87 151.648 318.87 96.352C318.87 41.312 351.382 0.863998 409.494 0.863998C467.094 0.863998 500.118 41.312 500.118 96.352C500.118 151.648 467.094 192.096 409.494 192.096ZM409.494 154.464C442.774 154.464 454.038 128.352 454.038 96.352C454.038 64.608 442.774 38.496 409.494 38.496C375.958 38.496 364.95 64.608 364.95 96.352C364.95 128.352 375.958 154.464 409.494 154.464ZM517.794 188V4.95999H563.874L627.874 113.76H628.386V4.95999H674.466V188H628.386L564.386 79.2H563.874V188H517.794ZM740.85 188V42.592H687.602V4.95999H839.922V42.592H786.93V188H740.85ZM902.874 75.104H982.746V112.736H902.874V150.368H997.082V188H856.794V4.95999H995.546V42.592H902.874V75.104ZM1017.54 188V4.95999H1063.62L1127.62 113.76H1128.14V4.95999H1174.22V188H1128.14L1064.14 79.2H1063.62V188H1017.54ZM1199.29 188V4.95999H1280.45C1331.39 4.95999 1362.11 37.728 1362.11 96.608C1362.11 155.488 1333.95 188 1283.01 188H1199.29ZM1245.37 42.592V150.368H1275.84C1304.51 150.368 1316.03 129.888 1316.03 96.608C1316.03 63.328 1304.51 42.592 1275.84 42.592H1245.37Z'
					fill='#252C35'></path>
			</svg>

			<svg
				viewBox='0 0 1488 193'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
				class='w-full block'
			>
				<path
					d='M0.544001 188V4.95999H81.696C132.64 4.95999 163.36 37.728 163.36 96.608C163.36 155.488 135.2 188 84.256 188H0.544001ZM46.624 42.592V150.368H77.088C105.76 150.368 117.28 129.888 117.28 96.608C117.28 63.328 105.76 42.592 77.088 42.592H46.624ZM227.124 75.104H306.996V112.736H227.124V150.368H321.332V188H181.044V4.95999H319.796V42.592H227.124V75.104ZM328.738 4.95999H377.634L412.194 133.216H412.706L447.522 4.95999H496.162L436.77 188H388.13L328.738 4.95999ZM554.624 75.104H634.496V112.736H554.624V150.368H648.832V188H508.544V4.95999H647.296V42.592H554.624V75.104ZM669.294 4.95999H715.374V150.368H796.782V188H669.294V4.95999ZM890.744 192.096C832.632 192.096 800.12 151.648 800.12 96.352C800.12 41.312 832.632 0.863998 890.744 0.863998C948.344 0.863998 981.368 41.312 981.368 96.352C981.368 151.648 948.344 192.096 890.744 192.096ZM890.744 154.464C924.024 154.464 935.288 128.352 935.288 96.352C935.288 64.608 924.024 38.496 890.744 38.496C857.208 38.496 846.2 64.608 846.2 96.352C846.2 128.352 857.208 154.464 890.744 154.464ZM999.044 188V4.95999H1087.88C1126.02 4.95999 1149.83 24.928 1149.83 63.328C1149.83 101.728 1126.02 121.696 1087.88 121.696H1045.12V188H999.044ZM1045.12 42.592V84.064H1078.15C1094.02 84.064 1103.75 78.688 1103.75 63.328C1103.75 47.968 1094.02 42.592 1078.15 42.592H1045.12ZM1212.12 75.104H1292V112.736H1212.12V150.368H1306.33V188H1166.04V4.95999H1304.8V42.592H1212.12V75.104ZM1326.79 188V4.95999H1413.07C1453.77 4.95999 1478.35 23.648 1478.35 58.208C1478.35 82.528 1464.01 97.888 1441.23 103.008V103.52C1487.05 111.456 1470.41 182.368 1480.91 185.44V188H1433.03C1424.07 180.32 1440.71 124.256 1401.55 124.256H1372.87V188H1326.79ZM1372.87 42.592V86.624H1404.11C1422.54 86.624 1432.27 79.968 1432.27 64.608C1432.27 49.248 1422.54 42.592 1404.11 42.592H1372.87Z'
					fill='#252C35'></path>
			</svg>
		</div>
	</main>
</Layout>
